/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
  color: #000;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */

/* Hero - nav-container */

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 3em [menu-row] 10em [hero-content];
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(/img/hero-img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(125%);
}

.nav-container,
.hero-content {
	position: relative;
}

.nav-container {
	grid-column: 4 / 14;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-row ul {
	display: flex;
	text-transform: uppercase;
}

.nav-row ul li a {
	border: 1px solid transparent;
	border-radius: 40px;
	padding: 0.5em 1em;
	font-weight: 700;
}

.nav-row ul li a:hover {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
}

.logo {
	font-size: 2em;
}

.hero-content {
	grid-column: 4 / 11;
	grid-row: 3;
}

.hero-title {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	font-weight: 700;
	padding-bottom: 0.1em;
	letter-spacing: 0.1em;
}

.hero-subtitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	font-weight: 400;
	padding-bottom: 1.5em;
	opacity: 0.7;
	letter-spacing: 0.1em;
}

@media (max-width: 720px) {
	.hero-title {
		font-size: 2.4em;
	}
	.hero-subtitle {
		font-size: 1em;
	}
	.hero-button {
		font-size: 0.6em;
	}
}

.hero-button {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 1em 2.5em;
	border-radius: 40px;
	border: #A7171A solid 1px;
	background-color: #A7171A;
	color: #fff;
	font-weight: 700;
}

.hero-button:hover {
	border: #A7171A solid 1px;
	background-color: #fff;
	color: #a7171a;
}

.active {
	background-color: #000;
	color: #fff;
}