/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: inherit;
}

.nav-container a {
	color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */

/* Hero - nav-container */

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 3em [menu-row] 10em [empty] auto [hero-content];
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(/img/hero-img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(125%);
}

.nav-container,
.hero-content {
	position: relative;
}

.nav-container {
	grid-column: 5 / 13;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-row ul {
	display: flex;
	text-transform: uppercase;
}

.nav-row ul li a {
	border: 1px solid transparent;
	border-radius: 40px;
	padding: 0.5em 1em;
	font-weight: 700;
}

.nav-row ul li a {
  color: #18272F;
  position: relative;
  text-decoration: none;
	opacity: 0.7;
}

.nav-row ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.25em;
  border-radius: 0.25em;
  background-color: #000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-row ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-row ul li a:hover {
	opacity: 1;
}

.logo {
	font-size: 2em;
}

.hero-content {
	grid-column: 5 / 10;
	grid-row: 3;
}

.hero-title {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	font-weight: 700;
	padding-bottom: 0.1em;
	letter-spacing: 0.1em;
}

.hero-subtitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	padding-bottom: 1.5em;
	opacity: 0.7;
	letter-spacing: 0.1em;
}

@media (max-width: 1020px) {
	.hero-title {
		font-size: 3em;
	}
	.hero-subtitle {
		font-size: 2em;
	}
	.hero-button {
		font-size: 0.8em;
	}
	.nav-row li {
		/* display: none; */
		text-align: right;
	}
	.nav-container {
		grid-column: 2 / 16 ;
	}
	.hero-content {
		grid-column: 2 / 11;
	}
}

.hero-button {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 1em 2.5em;
	border-radius: 40px;
	border: #A7171A solid 1px;
	background-color: #A7171A;
	color: #fff;
	font-weight: 700;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all .5s;
}

.hero-button:hover {
	border: #A7171A solid 1px;
	color: #a7171a;
	background-color: #fff;
}

/* MAIN */

.main-section {
	/* position: relative; */
	width: 100%;
	/* height: 100vh; */
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 1fr [what-to-see] auto [for-ibex] 1fr [where-to-stay] auto [for-rifugio] 1fr [about-us] auto [for-photographer];
}

.what-to-see {
	grid-column: 5 / 9;
	grid-row: 1;
}

.ibex-img {
	grid-column: 9 / 13;
	grid-row: 1;
}

.where-to-stay {
	grid-column: 9 / 13;
	grid-row: 3;
}

.rifugio-img {
	grid-column: 5 / 9;
	grid-row: 3;
}

.about-us {
	grid-column: 5 / 9;
	grid-row: 5;
}

.photographer-img {
	grid-column: 9 / 13;
	grid-row: 5;
}

.ibex-img,
.rifugio-img,
.photographer-img {
	width: 100%;
	border-radius: 50%;
	padding: 2em;
}

.main-section h1 {
	font-size: 2.5em;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0.5em 0 0.5em 0;
}

@media (max-width: 1020px) {
	.what-to-see,
	.where-to-stay,
	.about-us {
		grid-column: 2 / 16;
	}
	.ibex-img {
		grid-column: 2 / 16;
		grid-row: 2;
		padding: 0;
	}
	.rifugio-img {
		grid-column: 2 / 16;
		grid-row: 4;
		padding: 0;
	}
	.photographer-img {
		grid-column: 2 / 16;
		grid-row: 6;
		padding: 0;
	}
}

/* FOOTER */

.footer-section {
	background: #323232;
	color: #fff;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 2em [empty] auto [footer-content-1] auto [footer-content-1] auto [footer-content-1] 10em [empty];
}

.footer-email {
	grid-column: 5 / 8;
	grid-row: 2;
}
.footer-social {
	grid-column: 9 / 11;
	grid-row: 2;
}
.footer-links {
	grid-column: 11 / 13;
	grid-row: 2;
}

@media (max-width: 1020px) {
	.footer-email,
	.footer-social,
	.footer-links {
		grid-column: 2 / 16;
	}
	.footer-social {
		grid-row: 3;
	}
	.footer-links {
		grid-row: 4;
	}
}

